body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* sidebar */
.sidebar {
  width: 5rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  z-index: 10;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.line {
  width: 2rem;
  height: .2rem;
  background-color: #222;
  margin-bottom: .6rem;
}

.line-1, .line-3 {
  width: 1.3rem;
  transition: all .5s;
}

.menu-icon:hover .line {
  width: 2rem;
}

.social-media-icons {
    list-style: none;
    padding: 0;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon {
  font-size: 2rem;
  color: #555;
  transition: color .3s;
}

.social-icon-tw:hover {
  color: #1DA1F2;
}

.social-icon-fb:hover {
  color: #3C5A99;
}

.social-icon-ld:hover {
  color: #0077B5;
}

.social-icon-gh:hover {
  color: #000000;
}

/* navigation */
.navigation {
  position: fixed;
  left: -15rem;
  width: 20rem;
  height: 100%;
  background-color: rgba(202, 202, 202, .8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  transition: left .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-links-group {
  list-style: none;
  padding: 0;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navigation-link {
  font-size: 2rem;
  color: #555;
  text-decoration: none;
}

.checkbox:checked ~ .navigation {
  left: 5rem;
}

.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px, 13px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px, -13px);
  width: 2.5rem;
}

.checkbox {
  display: none;
}

/* header */
.header {
  background: linear-gradient(to top, rgba(0, 0, 0, .5),
  rgba(0, 0, 0, .6)
  ),url('../img/laurynas-mereckas-1487417-unsplash.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header-content {
  margin-left: 5rem;
}

.introduction-banner {
  height: 10rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-element-1 {
  font-family: Montserrat, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 0;
}

.header-element-2 {
  font-size: 1.7rem;
  margin: 0;
  font-weight: 400;
}

.header-element-3 {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: auto;
  font-weight: 400;  
}

.common-header {
  font-family: Montserrat, sans-serif;
  margin: 1rem 0;
}

.arrow {
  height: 5rem;
  margin-bottom: 5rem;
}

.down-arrow {
  margin-left: 5rem;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  height: 3rem;
  width: 3rem;
  transform: rotate(45deg);
  transition: border-width .3s ease;
  cursor: pointer;
}

.down-arrow:hover {
  border-width: 0px 3px 3px 0px;
}

.scroll-btn {
  margin-top: 10rem;
  align-self: center;
  display: flex;
  justify-content: center;
}

.scroll-down-btn {
  border: 1px solid white;
  width: 10rem;
  height: 4rem;
  border-radius: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(42, 102, 214);
  color: white;
  cursor: pointer;
  transition: all .5s;
}

.scroll-down-btn:hover {
  color: rgb(42, 102, 214);
  background-color: white;
  font-size: 1.3rem;
}

/* about */
.about {
  margin-left: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about-text-header {
  font-size: 2rem;
  font-weight: 300;
}

.about-text {
  flex: 1 1;
  margin-left: 20rem;
}

.about-text-content {
  font-size: 1rem;
  margin: 0;
}

.experience-text-header {
  font-size: 2rem;
  font-weight: 300;
}

.experience-text {
  flex: 0 1 50%;
  transform: translate(150px, 0px);
}

.experience-list-group {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.icon-description {
  vertical-align: .6rem;
}

.experience-list-icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.experience-angular-icon {
  width: 2rem;
}

.experience-angular-material-icon {
  width: 2rem;
}

.experience-asp-icon {
  width: 2rem;
}

.experience-firebase-icon {
  width: 2rem;
}

/* work */
.work {
  height: 60rem;
  margin-left: 5rem;
  background-color: rgb(197, 197, 197);

}

/* .work-header {
  margin-top: 2rem;
} */

.work-header-content {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.work-content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.work-img-group {
  flex: 1 1;
  position: relative;
}

.work-img {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  left: 10%;
  z-index: 4;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .4);
}

.work-description {
  flex: 0 1 50%;
}

.timeclock-image-1 {
  width: 35rem;
  transform: translate(0px, 0px);
}

.timeclock-image-2 {
  width: 15rem;
  transform: translate(400px, 125px);
}

.timeclock-app-header {
  margin-top: 5rem;
  font-size: 2rem;
}

.timeclock-app-description {
  padding: 0rem 5rem;
}

.timeclock-app-btn {
  border: 1px solid white;
  margin-top: 10rem;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #7C4DFF;
  color: white;
  font-size: 1rem;
  transition: all .5s;
}

.timeclock-app-btn:hover {
  background-color: white;
  color: #7C4DFF;
  font-size: 1.1rem;
  border: 1px solid #7C4DFF;
}

/* contact */
.contact {
  margin-left: 5rem;
  background-color: #4a4e4d;
}

.copyright p {
  margin: 0;
  color: white;
  text-align: right;
  padding: 1rem 2rem;
}

/* media queries */
@media(min-width: 1400) {

}

@media(min-width: 1200px) {
  .timeclock-image-1 {
    width: 25rem;
  }

  .timeclock-image-2 {
    width: 10rem;
    transform: translate(300px, 125px);
  }

  .about-text {
    margin-left: 10rem;
  }

}

@media(min-width: 900px) {
  .about-text {
    margin-left: 5rem;
  }

  .timeclock-image-1 {
    width: 20rem;
  }

  .timeclock-image-2 {
    width: 8rem;
    transform: translate(200px, 125px);
  }

  .common-header {
    font-size: 1.2rem;
  }

  .about-text-content {
    font-size: .8rem;
  }

  .icon-description {
    font-size: .8rem;
  }

  .timeclock-app-description {
    font-size: .8rem;
  }

  .timeclock-app-btn {
    width: 5rem;
    font-size: .8rem;
    height: 2rem;
    margin-top: 3rem;
  }
}